.header {

}


.wrap__menu {
	height: 200px;
}
.menu {
	width: 300px;
}
.menu__header {
	text-decoration: none;
}
.menu__list {
	
}
.menu__item {

}
.menu__link {

}



.first-screen {

}
.header__content {

}
.first-screen-inner {

}
.first-screen-title {

}
.first-screen-descrip {

}
.first-screen-decor {

}






.about {

}
.about__inner {

}
.about__title {

}
.about__content {

}







.expertise {

}
.expertise__inner {

}

.expertise__top {

}
.loading__filed {

}
.expertise--loading {

}
.loading__item {

}
.loading__line {

}
.loading__name {

}
.loading__persent {

}
.expertise__text {

}


.expertise__bottom {

}
.expertise__item {

}
.ex__item--one {
	
}
.ex__item--two {
	
}
.ex__item--three {
	
}
















